# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\车道线检测\Pycharm_local\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
